@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  text-align: center;
  padding: 4%;
  position: relative;
  box-shadow: 1px -2px 12px -3px rgba(54, 54, 54, 0.6705882353);
}
.header__image {
  width: 170px;
}

.image-header__image {
  width: 100%;
  height: 20%;
}

footer {
  background-color: #282728;
  color: #eaeaea;
  font-size: 16px;
  padding: 5%;
}

.nav__titre {
  font-family: "Shrikhand", cursive;
  color: #f6f6f6;
  padding-bottom: 3%;
  font-size: 17px;
}
.nav__icon {
  padding-right: 3%;
}
.nav ul {
  list-style-type: none;
}
.nav__link li {
  padding-bottom: 2%;
  color: #eaeaea;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.description__explorer {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  padding: 4% 6% 4% 6%;
  border-radius: 30px;
  color: #f6f6f6;
  box-shadow: 5px 5px 8px 0px rgba(189, 189, 189, 0.6705882353);
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 5%;
}
.localisation__ville {
  text-align: center;
  border: none;
  font-size: 17px;
  background-color: #eaeaea;
  width: 40%;
}

::-moz-placeholder {
  color: #282728;
}

:-ms-input-placeholder {
  color: #282728;
}

::placeholder {
  color: #282728;
}

.description {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 12%;
}
.description__titre {
  padding: 10% 14% 5% 14%;
  font-weight: 700;
}
.description__sous-titre {
  padding-bottom: 7%;
  font-size: 17px;
  font-weight: 300;
}

.fonctionnement {
  display: flex;
  align-items: center;
  margin-bottom: 7%;
  width: 90%;
}
.fonctionnement__number {
  background-color: #9356DC;
  color: #f6f6f6;
  font-size: 80%;
  border-radius: 100%;
  width: 7%;
  text-align: center;
  position: relative;
  margin-right: -3%;
  padding: 1%;
}
.fonctionnement__btn {
  display: flex;
  background-color: #f6f6f6;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  padding: 8% 20% 8% 8%;
  color: #282728;
  font-weight: 600;
  width: 100%;
  box-shadow: 0px 13px 20px -15px #aaaaaa;
}
.fonctionnement__icon {
  color: #282728;
  padding-right: 15%;
  text-align: left;
  font-size: 130%;
  color: #757375;
}

.bloc-fonctionnement {
  padding: 7% 0 10% 0;
}
.bloc-fonctionnement__titre {
  padding: 6%;
  font-size: 24px;
}
.bloc-fonctionnement__bloc-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc-restaurants {
  background-color: #f6f6f6;
  padding: 4% 0 4% 0;
}
.bloc-restaurants__bloc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-restaurants__titre {
  padding: 6%;
  font-size: 24px;
}
.bloc-restaurants__nouveau {
  background-color: #99E2D0;
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 2% 3%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #217460;
}
.bloc-restaurants__lien {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.bloc-restaurants__card {
  width: 100%;
  height: 240px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 1px 10px #ccc;
  position: relative;
  margin-bottom: 6%;
}
.bloc-restaurants__image {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.bloc-restaurants__nom {
  color: #000;
  padding-bottom: 2%;
  font-size: 17px;
  font-weight: 500;
}
.bloc-restaurants__lieu {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.bloc-restaurants__card-heart {
  color: #000;
}
.bloc-restaurants__description {
  display: flex;
  justify-content: space-between;
}
.bloc-restaurants__titres {
  padding: 3%;
}
.bloc-restaurants__heart {
  padding: 5% 6% 3% 3%;
  font-size: 130%;
  cursor: pointer;
}
.bloc-restaurants__empty {
  color: #000;
  position: absolute;
}
.bloc-restaurants__full {
  opacity: 0%;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=styles.css.map */