@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./layouts/header";
@import "./layouts/footer";
@import "./base/normes";
@import "./components/button-menu";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

main {
    background-color: $fond-description;
    position: relative;
    padding: 6% 4%;
    border-radius: 40px 40px 0 0;
    margin-top: -20%;
}

.restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__titre {
        font-family: 'Shrikhand', cursive;
        padding: 0 8% 0 2%;
        font-size: map-get($font-size, title-menu);
    }

    &__heart{
        font-size: 130%;
        padding-right: 8%;
    }
}

.empty{
    position: absolute;
}

.full {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transform-origin: 50% bottom;
    transform: scale(1);
    transition: transform 700ms;
    cursor: pointer;

    &:hover {
        @include button-color;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1.2);
    }

    &:active{
        @include button-color;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1.2);
    }
}

.menu {
    animation: progress-menu 1000ms forwards;
    transform-origin: 50% top;

    &__titre {
        padding: 6% 0 2% 2%;
        font-size: map-get($font-size , subtitle-title-menu);
        @include weight-text;
    }

    &__border {
        display: block;
        width: 13%;
        margin-left: 2%;
        @include border-menu;
    }
}

.menu-plats {
    opacity: 0;
    animation-delay: 350ms;
}

.menu-desserts {
    opacity: 0;
    animation-delay: 800ms;
}

.card {

    &__article {
        background-color: $fond-card-menu;
        border-radius: 15px;
        margin-top: 5%;
        color: $typo;
        display: flex;
        justify-content: center;
        @include bloc-shadow;
    }
}

.card-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    padding: 3% 5%;
    min-width: 0;

    div {
        min-width: 0;
        flex-grow: 1;
    }

    &__plat {
        padding-bottom: 2%;
        font-weight: 500;
        font-size: map-get($font-size, text);
        @include animation-card;
    }

    &__accompagnement {
        font-weight: 200;
        font-size: map-get($font-size , subtitle);
        @include animation-card;
    }

    &__prix {
        font-weight: 500;
        font-size: map-get($font-size, text);
    }

    &:hover+.card-icon {
        width: 15%;
        color: $fond-card-menu;

        .card-icon__icon {
            transform: rotate(360deg);
        }

    }
}

.card-icon {

    background-color: $tertiary;
    width: 0;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: all 0.75s;

    &__icon {
        font-size: 20px;
        transform: rotate(0deg);
        transition: transform 0.75s ease-in-out;
    }
}