@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/header";
@import "./layouts/footer";
@import "./base/normes";
@import "./components/button-menu";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

main{
    background-color: $fond-description;
    position: relative;
    padding: 6% 4%;
    border-radius: 40px 40px 0 0;
    margin-top: -15%;
}

.restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__titre{
        font-family:'Shrikhand', cursive ;
        padding: 0 8% 0 2%;
        font-size: map-get($font-size, title-menu );     
    }

    &__heart{
        padding-right: 8%;
        font-size: 150%;
    }
}

.menu{
    &__titre{
        padding: 6% 0 2% 2%;
        font-size: map-get($font-size , subtitle-title-menu );
    @include weight-text;
    }

    &__border{
        display: block;
        width: 13%;
        margin-left: 2%;
        @include border-menu;
    } 
}
 
.card{

 &__article{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    border-radius: 15px;
    padding: 3% 5%;
    margin-top: 5%;
    color: $typo;
    @include bloc-shadow;
 }   

 &__plat{
    padding-bottom: 2%;
   font-weight: 500;
   font-size: map-get($font-size, text );
 }

 &__accompagnement{
    font-weight: 200;
    font-size: map-get($font-size , subtitle );
 }

 &__prix{
    font-weight: 500;
    font-size: map-get($font-size, text );
 }

}



