@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/header";
@import "./layouts/footer";
@import "./base/normes";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

main{
    background-color: $fond-description;
    position: relative;
    padding: 6% 4%;
    border-radius: 40px 40px 0 0;
    margin-top: -15%;
}

.restaurant{
    display: flex;
    align-items: center;

    &__titre{
        font-family:'Shrikhand', cursive ;
        padding-right: 10%;
        font-size: $size-title-restautant;     
    }

    &__heart{
        font-size: 150%;
    }
}

.menu{
    &__titre{
        padding: 6% 0 2% 0;
        font-size: 18px;
    @include weight-text;
    }

    &__border{
        display: block;
        width: 13%;
        @include border-menu;
    } 
}
 
.card{

 &__article{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    border-radius: 15px;
    padding: 3% 5%;
    margin-top: 5%;
    color: $typo;
    @include bloc-shadow;
 }   

 &__plat{
    padding-bottom: 2%;
   font-weight: 500;
   font-size: 18px;
 }

 &__accompagnement{
    font-weight: 200;
    font-size: $size-subtitle;
 }

 &__prix{
    font-weight: 500;
 }

}

.bloc-button{
  display: flex;
  justify-content: center;
  margin: 10% 0 13% 0;
    &__button{
    background-image: linear-gradient(to bottom right, $secondary, $primary);
    border: none;
    font-size: $size-text;
    text-align: center;
    text-decoration: none;
    padding: 4% 6% 4% 6%;
    border-radius: 30px;
    color: $fond-description;
    box-shadow: 5px 5px 8px 0px #bdbdbdab;
    
    
}
}

