$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$typo: #000;
$fond-localisation: #eaeaea;
$fond-description: #f6f6f6;
$fond-footer: #282728;

$size-title:24px;
$size-text:17px;
$size-text-fonctionnement:15px;
$size-subtitle:14px;
$size-title-restautant:28px;
