footer {
    background-color: $fond-footer;
    color: $fond-localisation;
    font-size: 16px;
    padding: 5%;
    @include desktop-only{
        padding: 3%;
    }
}

.nav {
    &__titre {
        font-family: 'Shrikhand', cursive;
        color: $fond-description;
        padding-bottom: 3%;
        font-size: map-get($font-size, text);
    }

    &__icon {
        padding-right: 3%;
        @include desktop-only{
            padding-right: 1%;
        }
        @include tablet-only{
            padding-right: 2%;
        }
    }

    ul {
        list-style-type: none;
    }

    li{
        padding-bottom: 2%;
    }

    &__link {
        
        color: $fond-localisation;
        text-decoration: none;
    }
}