.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    box-shadow: 1px -2px 12px -3px #363636ab;
    ;

    a {
        position: absolute;
        left: 6%;
    }
    &__arrow {
        color: $typo;      
    }

    &__logo {
        width: 170px;
    }
}

.image-header{
    
   &__image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    @include desktop-only{
        height: auto;
    }
    @include tablet-only{
        height: auto;
    }
    
   }
}